*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    color: white;
    background-color: black;
    font-family: 'outfit';
    overflow-x: hidden;
}

@media(max-width: 375px){
    body{
        overflow-x: hidden;
    }
}